*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
argocd/argocd filter=lfs diff=lfs merge=lfs -text
argocd/helm filter=lfs diff=lfs merge=lfs -text
